
body {
	background-color: #ff7f50;
}

#container {
	display: none;
}

#loading{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-30px;
}

.image img {
	width: 100%;
	display: none;
}

.undisplay img {
	visibility: hidden;
	width: 1px;
	height: 1px;
}

#button_start {
	background-color: #fffacd;
	color: #db7093;
	
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 80px;
	margin: auto;
};
